<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head content -->
</head>

<body>
    <div id="itemContainer">
        <div id="itemDetails" style="text-align:center;">
            <!-- Item details will be loaded here -->
        </div>
        <div id="itemInfo" style="float:right;">
            <!-- Additional item information -->
        </div>
    </div>
    <div id="recommendations">
        <h3>Recommended Products</h3>
        <!-- Recommendations will be loaded here -->
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>